<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-3">
      <h5 class="mt-2 text-uppercase text-center">Finanzas</h5>
      <h2 class="text-center mb-2">{{total|currency}}</h2>
    </div>

    <div class="col-12 mt-2" >
      <button *ngIf="clave=='123456'" class="btn btn-primary btn-block btn-sm mb-3" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo Registro
      </button>

      <div class="form-group" *ngIf="clave!='123456'">
        <input type="password" class="form-control form-control-sm" placeholder="Ingrese CLAVE agregar ajuste financiero"
          name="clave" [(ngModel)]="clave">
      </div>
    </div>
    <div class="col-12">
      <input type="text" placeholder="Buscar" class="form-control form-control-sm mb-3">
    </div>
  </div>

  <div class="row" *ngFor="let p of finanzas | filter:filterQuery">
    <div class="col-12">
      <p class="date-tran">
        <b>{{p.fecha | date: 'medium'}}</b>
      </p>
    </div>
    <div class="col-1"
      [ngClass]="{'text-success':p.tipo=='utilidad' , 'text-secondary':p.tipo=='costo','text-danger':(p.tipo=='egreso' ||p.tipo=='compra')}">
      <i class="fa fa-edit left" style="font-size: 20px;" aria-hidden="true"></i>
    </div>
    <div class="col-8"
      [ngClass]="{'text-success':p.tipo=='utilidad' , 'text-secondary':p.tipo=='costo','text-danger':(p.tipo=='egreso' ||p.tipo=='compra')}">
      <p class="title-transaction">
        {{p.detalle}}
        <br>
        <b>{{p.tipo |uppercase}}</b>
      </p>
    </div>
    <div class="col-3"
      [ngClass]="{'text-success':p.tipo=='utilidad', 'text-secondary':p.tipo=='costo','text-danger':(p.tipo=='egreso' ||p.tipo=='compra')}">
      <p>
        <b class="text-right">
          {{p.monto |currency}}
        </b>
      </p>
    </div>
  </div>

</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Finanza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row">
          <div class="form-group col-12">
            <label for="tipo">Tipo</label>
            <select name="tipo" id="tipo" [(ngModel)]="dataNuevoFinanzas.tipo" class="form-control form-control-sm">
              <option value="ingreso">Ingreso</option>
              <option value="egreso">Egreso</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label for="detalle">Detalle Movimiento</label>
            <input type="text" name="detalle" id="detalle" [(ngModel)]="dataNuevoFinanzas.detalle"
              class="form-control form-control-sm">
          </div>

          <div class="form-group col-12">
            <label for="monto">Monto</label>
            <input type="number" name="monto" id="monto" [(ngModel)]="dataNuevoFinanzas.monto"
              class="form-control form-control-sm">
          </div>

          <div class="form-group col-12"
            *ngIf="dataNuevoFinanzas.monto!='' &&  dataNuevoFinanzas.detalle!='' && dataNuevoFinanzas.tipo!='' ">
            <p>
              <button (click)="agregarFinanza()" type="button" class="btn btn-block btn-primary btn-sm">Guardar</button>
            </p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>