/* You can add global styles to this file, and also import other style files */
.ico-big{
  font-size: 40px;
}
.tsma{
  font-size: 12px;
}

.pt-name{
  margin-bottom: 0px;
}

.pt-brand{
  font-size: 11px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pt-suma{
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pt-suma-t{
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-page{
  color: #007bff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.btn, .form-control{
  border-radius: 0px;
}

label{
  font-size: 12px;
}

.title-transaction{
  font-size: 12px;
}

.date-tran{
  font-size: 11px;
  font-weight: 800;
}